<div id="browse" class="ui floated left">
	<h4 class="browse-header">Filters</h3>

	<div class="ui form" style="padding: 1em;">

		<div class="ui field">
			<label><i class="search icon"></i>  	Keywords</label>	
			<div class="ui mini icon input">
				<input id="keywords" type="text" placeholder="E.g cottage activities"></input>
				<i class="search icon"></i>
			</div>
		</div>

		<div class="ui field">
			<label><i class="heart icon"></i> Emotions</label>	
			<div id="emotions-label-container"></div>
			<div class="ui mini icon input">
				<input type="text" id="emotions" class="typeahead" placeholder="E.g relaxation, excitement"></input>
				<i class="search icon"></i>
			</div>
		</div>

		<div class="ui field">
			<label><i class="tag icon"></i> Categories</label>
			<div id="categories-label-container"></div>	
			<div class="ui mini icon input">
				<input type="text" id="categories" class="typeahead" placeholder="E.g romantic, game"></input>
				<i class="search icon"></i>
			</div>
		</div>


    <div class="ui field">
			<label><i class="dollar icon"></i> Price</label>	

			<div class="ui selection dropdown" id="price">
				<input name="gender" type="hidden">
        <div class="default text">-</div>
        <i class="dropdown icon"></i>
        <div style="" tabindex="-1" class="menu transition hidden">
        	<div class="item" data-value="">-</div>
          <div class="item" data-value="0">Free</div>
          <div class="item" data-value="1">Cheap</div>
          <div class="item" data-value="2">Affordable</div>
          <div class="item" data-value="3">Expensive</div>
        </div>
			</div>
		</div>

		<!-- <div class="ui field">
			<label><i class="dollar icon"></i> Price</label>	

			<div class="ui mini icon input">
				<select name="price">
					<option value="" selected="selected">_</option>
					<option value="0">Free</option>
					<option value="1">Cheap</option>
					<option value="2">Affordable</option>
					<option value="3">Expensive</option>
				</select>
			</div>
		</div> -->

		<div class="ui field">
			<label><i class="map icon"></i> Location</label>	
		</div>
	</div>
</div>

<script>
	window.experienceSearch.component.attachTo('#browse');

	window.typeAhead.component.attachTo('#emotions.typeahead');
	window.typeAhead.component.attachTo('#categories.typeahead');

	window.emotionsService.getEmotions();
	window.categoriesService.getCategories();
</script>