<%= render 'browse' %>

<div class="experience-card-container">
  <div class="ui three column grid">
		<% @experiences.each_with_index do |experience, i| %>
			<%= render 'experience_card', experience: experience %>
		<% end %>
	</div>
</div>