<div class="experience-form-container">
	<h2 class="ui header">Add Your Experience</h2>

	<p>Add your unique experience so that others can try it out. See the <%= link_to "FAQ" %> if you have any questions.</p>

	<%= render 'form' %>
</div>