.experience-card-container {
	width: 75%;
	margin-left: 20%;
}

.experience-card {
	width: 95%;
	margin: 20px auto;
	font-family: TallFilm !important;

	.title{
		font-size: 2em !important;
	}

	.description {
		font-size: 1.2em !important;
		letter-spacing: 0.2em;
	}

	.thumbnail {
		display: block;
		margin: auto;
	}

	.title{
		margin: auto;
		text-align: center;
	}

	.rating {
		font-family: Karma;
		font-size: 0.6 !important;
	}

	.label-group {
		display: block;
		background: #5C6166;
		border-radius: 10px;
		width: auto;
		padding: 2px;
		padding-left: 9px;
		margin: 6px;
		& .label {
			font-family: Karma;
			font-size: 0.6 !important;
		}
	}
}

.experience-form-container{
	width: 60%;
	margin: auto !important;
	h2 {
		font-size: 2em !important;
	}

	.experience-form {
		font-family: TallFilm !important;
		.field {
		}
		label {
			font-size: 1.6em !important;
			color: black !important;
			font-weight: bold;
		}
		#step-container {
			margin-bottom: 1px;
			input {
				margin-bottom: 4pt;
			}
		}
		#add-step { margin-bottom: 6pt; }
		.submit {
			display: block;
			margin: auto;
		}
	}
}

.tt-dropdown-menu {
	background-color: white;
	z-index: 100;
	width: 500px;
	font-size: 20px;
	color: black;
}

