.experience-card-container {
	width: 75%;
	margin-left: 20%;
}

.experience-card {
	width: 95%;
	margin: 20px auto;

	.description {
		font-family: Karma;
	}

	.thumbnail {
		display: block;
		margin: auto;
	}

	.title{
		margin: auto;
		text-align: center;
	}

	.label-group {
		display: block;
		background: #5C6166;
		border-radius: 10px;
		width: auto;
		padding: 2px;
		padding-left: 9px;
		margin: 6px;
		& .label {
			font-size: 8.5px !important;
		}
	}
}