.experience-card-container {
	width: 75%;
	margin-left: 20%;
}

.experience-card {
	width: 95%;
	margin: auto;

	.thumbnail {
		display: block;
		margin: auto;
	}

	.title{
		margin: auto;
		text-align: center;
	}

	.label-group {
		display: block;
		margin: 6px;
		& .label {
			font-size: 10px !important;
		}
	}
}