@font-face {
    font-family: 'Karma';
    src: url('/assets/Karma-Regular.ttf');
    src: url('/assets/Karma-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'KarmaBold';
    src: url('/assets/Karma-Bold.ttf');
    src: url('/assets/Karma-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Karma';
    src: url('/assets/Karma-Regular.ttf');
    src: url('/assets/Karma-Regular.ttf') format('truetype');
}


@font-face {
    font-family: 'BebasNeue';
    src: url('/assets/BebasNeue-Regular.ttf');
    src: url('/assets/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BebasNeue-Bold';
    src: url('/assets/BebasNeue-Bold.ttf');
    src: url('/assets/BebasNeue-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'BebasNeue-Light';
    src: url('/assets/BebasNeue-Light.ttf');
    src: url('/assets/BebasNeue-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'BebasNeue-Book';
    src: url('/assets/BebasNeue-Book.ttf');
    src: url('/assets/BebasNeue-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'BebasNeue-Thin';
    src: url('/assets/BebasNeue-Thin.ttf');
    src: url('/assets/BebasNeue-Thin.ttf') format('truetype');
}