@font-face {
    font-family: 'Karma';
    src: url('/assets/Karma-Regular.ttf');
    src: url('/assets/Karma-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'KarmaBold';
    src: url('/assets/Karma-Bold.ttf');
    src: url('/assets/Karma-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'TallFilm';
    src: url('/assets/TallFilm.ttf');
    src: url('/assets/TallFilm.ttf') format('truetype');
}

body {
	font-family: TallFilm;
}

h2 {
	font-family: TallFilm !important;
}
