<div class="nav-bar top" id="main-menu">
	<ul class="float-left">
		<li>
			<%= link_to raw("<button class=\"ui button mini circular orange\">" +
			"<i class=\"plus icon\"></i>Add Your Experience</button>"), new_experience_path, class: "menu-link new-experience-button" %>
			
		</li> 
	</ul>

	<ul class="float-right">
		<li>
			<%= link_to "Info", '/about', class: "menu-link" %>
		</li> 
		<li>
			<% if current_user %>
				<%= link_to raw("<i class=\"user icon\"></i> Account"), new_user_path, class: "menu-link" %>
			<% else %>
				<%= link_to raw("<i class=\"user icon\"></i> Login/Register"), new_user_path, class: "menu-link" %>
			<% end %>
			
		</li> 
	</ul>
</div>