<%= image_tag 'FractalBanner.jpg', class: 'top-banner' %>
<%= link_to raw('<h1 id="app-name">Qualiatative</h1>'), root_path %>
<h2 id="catch-phrase">Do Interesting Things ... Share Your Experiences</h2>